<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ahyan's Page</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body class="all-page">
    <form action="/signup" method = "post">
        <div class="grid">
            <div class="styled_bg">
            <input type="text" name="username" placeholder="Username" class="username">
            <br><br>
            <input type="password" name="password" placeholder="Password" class="password">
            <br><br>
            <input type="email" name="email" placeholder="Email" class="email">
            <br><br>
            <input type="submit" placeholder="signup" name="submited_info" class="submit">
            </div>
        </div>
    </form>
</body>
</html>
